# Tutorial 2: Accessing dataframes and using them with <code>pandas</code> 

A large portion of this package utilizes the functionality of pandas dataframes. Here we give a few specific instances of using dataframes with our package. For a more general overview of dataframes, see pandas <a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html">documentation</a> and <a href="https://www.datacamp.com/community/tutorials/pandas-tutorial-dataframe-python">tutorials</a>.

## How do I install the package?

Install the package from the <a href="https://pypi.org/project/cptac/">Python Package Index (PyPI)</a> in the command line using the <a href="https://pypi.org/project/pip/">pip package installer</a>, with the name of the package:

<code>pip install cptac</code>

## How do I import the package once it has been installed?

The cptac package has several cancer data sets. First import the entire package by entering the following:

<code>import cptac</code>

(Once the package has loaded, a message will display the package version, as well as instructions for viewing specific data sets.)

Then, to access a specific data set (i.e. Endometrial data) and its functionalities, download the data for it:

<code>cptac.download(dataset="endometrial", version="latest")</code>

Then, load the dataset object and assign it to a variable, like this:

<code>en = cptac.Endometrial()</code>

As the dataset loads, it will update you on the progress of the data loading until it's finished.

In [1]:
import cptac
cptac.download(dataset="endometrial", version="latest")
en = cptac.Endometrial()

## Can I use multiple datasets at the same time?

You can have multiple datasets loaded at the same time, once you have downloaded their data files. As you load each dataset, it will display its individual loading information.

In [2]:
cptac.download(dataset="ovarian", version="latest")
cptac.download(dataset="colon", version="latest")

ov = cptac.Ovarian()
co = cptac.Colon()

<b>NOTE: When using multiple data sets, be sure to check that each function used matches the expected data set, as each data set uses the same API.</b> For example, the command for retrieving clinical data is <code>get_clinical()</code> for all data sets, so make sure not to retrieve ovarian clinical data <code>ov.get_clinical()</code> when you meant to get the endometrial clinical data <code>en.get_clinical()</code>.

## How do I access a particular dataframe?

You can access a specific dataframe by calling the dataset's "get" method for that dataframe. (To see all available dataframes, call the dataset's <code>list_data</code> function, e.g. <code>en.list_data()</code>.)

In [3]:
proteomics = en.get_proteomics()
proteomics.head()

Name,A1BG,A2M,A2ML1,A4GALT,AAAS,AACS,AADAT,AAED1,AAGAB,AAK1,...,ZSWIM8,ZSWIM9,ZW10,ZWILCH,ZWINT,ZXDC,ZYG11B,ZYX,ZZEF1,ZZZ3
Sample_ID,,,,,,,,,,,,,,,,,,,,,
S001,-1.180,-0.8630,-0.802,0.222,0.2560,0.6650,1.2800,-0.3390,0.412,-0.664,...,-0.08770,NaN,0.0229,0.1090,NaN,-0.332,-0.43300,-1.020,-0.1230,-0.0859
S002,-0.685,-1.0700,-0.684,0.984,0.1350,0.3340,1.3000,0.1390,1.330,-0.367,...,-0.03560,NaN,0.3630,1.0700,0.737,-0.564,-0.00461,-1.130,-0.0757,-0.4730
S003,-0.528,-1.3200,0.435,NaN,-0.2400,1.0400,-0.0213,-0.0479,0.419,-0.500,...,0.00112,-0.1450,0.0105,-0.1160,NaN,0.151,-0.07400,-0.540,0.3200,-0.4190
S005,-1.670,-1.1900,-0.443,0.243,-0.0993,0.7570,0.7400,-0.9290,0.229,-0.223,...,0.07250,-0.0552,-0.0714,0.0933,0.156,-0.398,-0.07520,-0.797,-0.0301,-0.4670
S006,-0.374,-0.0206,-0.537,0.311,0.3750,0.0131,-1.1000,NaN,0.565,-0.101,...,-0.17600,NaN,-1.2200,-0.5620,0.937,-0.646,0.20700,-1.850,-0.1760,0.0513

## How do I access specific columns in a dataframe?

You'll probably want to get a feel for what data is in the dataframes you load. For example, say we want to know what kind of data is included in our proteomics dataframe. Each column in that dataframe contains the proteomics data for a different protein.

You can view a list of column names (which is a list of protein names, in the case of the proteomics dataframe) by appending <code>.columns</code> to the end of a dataframe variable. (If you wish to see all of the column names, even if there are a lot, append <code>.columns.values</code> to the dataframe variable.)

In [4]:
proteomics.columns

Index(['A1BG', 'A2M', 'A2ML1', 'A4GALT', 'AAAS', 'AACS', 'AADAT', 'AAED1',
       'AAGAB', 'AAK1',
       ...
       'ZSWIM8', 'ZSWIM9', 'ZW10', 'ZWILCH', 'ZWINT', 'ZXDC', 'ZYG11B', 'ZYX',
       'ZZEF1', 'ZZZ3'],
      dtype='object', name='Name', length=10999)

To access specific column (which is a specific protein's data, in the case of the proteomics dataframe), slice the column out of the dataframe using either of the following methods:

<code>proteomics["A1BG"]</code>

or

<code>proteomics.A1BG</code>

Both return the column as a <a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html">pandas series</a>. The first method is useful when the name of the column you want is stored as a string variable.

In [5]:
protein = "A1BG"
A1BG_col = proteomics[protein]
A1BG_col.head()

Sample_ID
S001   -1.180
S002   -0.685
S003   -0.528
S005   -1.670
S006   -0.374
Name: A1BG, dtype: float64

This <code>dataframe["col_name"]</code> syntax also allows for selection of multiple columns by entering a list of column names.

In [6]:
proteins = ["A1BG","PTEN","TP53"]
selected_prot = proteomics[proteins]
selected_prot.head()

Name        A1BG   PTEN   TP53
Sample_ID
S001      -1.180 -0.526  0.295
S002      -0.685 -0.830  0.277
S003      -0.528 -0.941 -0.871
S005      -1.670  0.730 -0.343
S006      -0.374 -0.379  3.010

## How do I access specific rows in a dataframe?

You can access specific rows in a dataframe (which are specific samples, in the case of the CPTAC data) using the dataframe's <code>.iloc</code> (by row number) or <code>.loc</code> (by row name) method, which both return a pandas Series if you select one row, and a pandas DataFrame if you select multiple rows.

In [7]:
proteomics.iloc[0:5]

Name,A1BG,A2M,A2ML1,A4GALT,AAAS,AACS,AADAT,AAED1,AAGAB,AAK1,...,ZSWIM8,ZSWIM9,ZW10,ZWILCH,ZWINT,ZXDC,ZYG11B,ZYX,ZZEF1,ZZZ3
Sample_ID,,,,,,,,,,,,,,,,,,,,,
S001,-1.180,-0.8630,-0.802,0.222,0.2560,0.6650,1.2800,-0.3390,0.412,-0.664,...,-0.08770,NaN,0.0229,0.1090,NaN,-0.332,-0.43300,-1.020,-0.1230,-0.0859
S002,-0.685,-1.0700,-0.684,0.984,0.1350,0.3340,1.3000,0.1390,1.330,-0.367,...,-0.03560,NaN,0.3630,1.0700,0.737,-0.564,-0.00461,-1.130,-0.0757,-0.4730
S003,-0.528,-1.3200,0.435,NaN,-0.2400,1.0400,-0.0213,-0.0479,0.419,-0.500,...,0.00112,-0.1450,0.0105,-0.1160,NaN,0.151,-0.07400,-0.540,0.3200,-0.4190
S005,-1.670,-1.1900,-0.443,0.243,-0.0993,0.7570,0.7400,-0.9290,0.229,-0.223,...,0.07250,-0.0552,-0.0714,0.0933,0.156,-0.398,-0.07520,-0.797,-0.0301,-0.4670
S006,-0.374,-0.0206,-0.537,0.311,0.3750,0.0131,-1.1000,NaN,0.565,-0.101,...,-0.17600,NaN,-1.2200,-0.5620,0.937,-0.646,0.20700,-1.850,-0.1760,0.0513

In [8]:
S001_row = proteomics.loc["S001"]
S001_row.head()

Name
A1BG     -1.180
A2M      -0.863
A2ML1    -0.802
A4GALT    0.222
AAAS      0.256
Name: S001, dtype: float64

## How do I access specific rows and columns?

In addition to selecting specific rows, you can also use <code>.loc</code> to select a subset of rows and columns, using lists.

In [9]:
samples = ["S001","S003","S016"]
proteins = ["A1BG","PTEN","TP53"]
proteomics.loc[samples, proteins]

Name        A1BG   PTEN   TP53
Sample_ID
S001      -1.180 -0.526  0.295
S003      -0.528 -0.941 -0.871
S016      -0.782 -0.539  2.120

## How can I search using conditional statements?

There are a variety of ways to use boolean statements to traverse a dataframe. A common way is to pass a boolean statement that selects the data you want to the <code>.loc</code> function. For example, if we want to see all the data for samples that have a positive protein expression level for the A1BG protein, we would pass the <code>.loc</code> function the boolean statement asking for rows containing values above zero for the A1BG column.

<code>.loc</code> has many functionalities. For a full list, see pandas documentation for <a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.loc.html">.loc</a> and <a href="https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html">indexing and slicing</a>.

In [10]:
a1bg_positive = proteomics.loc[proteomics["A1BG"] > 0]
a1bg_positive.head()

Name,A1BG,A2M,A2ML1,A4GALT,AAAS,AACS,AADAT,AAED1,AAGAB,AAK1,...,ZSWIM8,ZSWIM9,ZW10,ZWILCH,ZWINT,ZXDC,ZYG11B,ZYX,ZZEF1,ZZZ3
Sample_ID,,,,,,,,,,,,,,,,,,,,,
S019,0.1500,0.9870,5.070,0.302,-0.1690,0.3980,NaN,-0.2740,1.090,0.147,...,0.34800,-0.484,0.1420,0.250,-0.14200,0.077,-0.1570,-0.87200,-0.00663,-0.0175
S020,0.1810,-0.2830,0.689,0.104,-0.1300,-0.0683,-0.376,-0.0838,0.160,0.277,...,0.22800,NaN,0.0206,-0.970,NaN,-0.452,0.1720,0.62600,0.34200,-0.2030
S027,0.0499,0.0199,-0.125,0.477,-0.2520,0.8380,-0.100,-0.8510,0.351,-0.582,...,0.04910,-0.479,0.0548,0.933,0.00967,-1.140,-0.5410,-0.83800,0.02380,-0.0602
S028,0.7730,0.5460,-0.603,NaN,0.0555,-0.6390,-0.390,0.4670,-0.366,0.427,...,-0.00835,0.119,-0.2960,-0.205,-0.07650,0.228,0.2370,1.05000,0.01850,0.5870
S029,0.5510,0.2030,NaN,NaN,-0.4930,0.2110,1.060,-0.2800,0.207,0.334,...,0.30000,NaN,0.1420,-0.549,NaN,-0.390,-0.0972,0.00108,0.20000,-0.1940

For another example, suppose we wanted to separate clinical information for samples that are serous vs. endometrioid, as recorded in the "Histologic_type" column.

In [11]:
clinical = en.get_clinical()
endometrioid_clinical = clinical.loc[clinical["Histologic_type"] == "Endometrioid"]
serous_clinical = clinical.loc[clinical["Histologic_type"] == "Serous"]

In [12]:
endometrioid_clinical.head()

Name,Patient_ID,Proteomics_Tumor_Normal,Country,Histologic_Grade_FIGO,Myometrial_invasion_Specify,Histologic_type,Treatment_naive,Tumor_purity,Path_Stage_Primary_Tumor-pT,Path_Stage_Reg_Lymph_Nodes-pN,...,Age,Diabetes,Race,Ethnicity,Gender,Tumor_Site,Tumor_Site_Other,Tumor_Focality,Tumor_Size_cm,Num_full_term_pregnancies
Sample_ID,,,,,,,,,,,,,,,,,,,,,
S001,C3L-00006,Tumor,United States,FIGO grade 1,under 50 %,Endometrioid,YES,Normal,pT1a (FIGO IA),pN0,...,64.0,No,White,Not-Hispanic or Latino,Female,Anterior endometrium,NaN,Unifocal,2.9,1
S002,C3L-00008,Tumor,United States,FIGO grade 1,under 50 %,Endometrioid,YES,Normal,pT1a (FIGO IA),pNX,...,58.0,No,White,Not-Hispanic or Latino,Female,Posterior endometrium,NaN,Unifocal,3.5,1
S003,C3L-00032,Tumor,United States,FIGO grade 2,under 50 %,Endometrioid,YES,Normal,pT1a (FIGO IA),pN0,...,50.0,Yes,White,Not-Hispanic or Latino,Female,"Other, specify",Anterior and Posterior endometrium,Unifocal,4.5,4 or more
S005,C3L-00090,Tumor,United States,FIGO grade 2,under 50 %,Endometrioid,YES,Normal,pT1a (FIGO IA),pNX,...,75.0,No,White,Not-Hispanic or Latino,Female,"Other, specify",Anterior and Posterior endometrium,Unifocal,3.5,4 or more
S007,C3L-00136,Tumor,United States,FIGO grade 1,under 50 %,Endometrioid,YES,Normal,pT1a (FIGO IA),pNX,...,50.0,No,White,Not-Hispanic or Latino,Female,"Other, specify",Anterior and Posterior endometrium,Unifocal,4.5,3

In [13]:
serous_clinical.head()

Name,Patient_ID,Proteomics_Tumor_Normal,Country,Histologic_Grade_FIGO,Myometrial_invasion_Specify,Histologic_type,Treatment_naive,Tumor_purity,Path_Stage_Primary_Tumor-pT,Path_Stage_Reg_Lymph_Nodes-pN,...,Age,Diabetes,Race,Ethnicity,Gender,Tumor_Site,Tumor_Site_Other,Tumor_Focality,Tumor_Size_cm,Num_full_term_pregnancies
Sample_ID,,,,,,,,,,,,,,,,,,,,,
S006,C3L-00098,Tumor,United States,NaN,under 50 %,Serous,YES,Normal,pT1a (FIGO IA),pNX,...,63.0,No,White,Not-Hispanic or Latino,Female,"Other, specify",Anterior and Posterior endometrium,Unifocal,6.0,2
S009,C3L-00139,Tumor,United States,NaN,50 % or more,Serous,YES,Normal,pT3a (FIGO IIIA),pNX,...,83.0,No,White,Not-Hispanic or Latino,Female,"Other, specify",Both anterior and posterior,Unifocal,4.0,4 or more
S016,C3L-00358,Tumor,United States,NaN,50 % or more,Serous,YES,Normal,pT1b (FIGO IB),pNX,...,90.0,No,White,Not-Hispanic or Latino,Female,"Other, specify",Both anterior and posterior endometrium,Unifocal,4.5,Unknown
S041,C3L-00963,Tumor,Other_specify,NaN,50 % or more,Serous,YES,Normal,pT1b (FIGO IB),pNX,...,59.0,Yes,White,Not reported,Female,"Other, specify",along anterior and posterior surface,Unifocal,2.6,1
S042,C3L-01246,Tumor,Other_specify,NaN,under 50 %,Serous,YES,Normal,pT1a (FIGO IA),pN0,...,62.0,No,White,Not reported,Female,Posterior endometrium,NaN,Unifocal,2.3,1

## How do I export a dataframe to a file?

If you wish to export a dataframe to a file, call the dataframe's built-in <code>to_csv</code> method, specifying the path you wish to save to, and the separator you wish to use:

In [14]:
clinical = en.get_clinical()
clinical.to_csv(path_or_buf="clinical_df.tsv", sep='\t')